################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BeatStrider/x64
/BeatStrider/BeatStrider.sln
/BeatStrider/BeatStrider.vcxproj
/BeatStrider/BeatStrider.vcxproj.filters
/BeatStrider/BeatStrider.vcxproj.user
/.vs
/BeatStrider/.vs/BeatStrider/v17
